python-dotenv~=1.1.0
groq~=0.21.0
AppOpener~=1.7
pywhatkit~=5.4
bs4~=0.0.2
pillow
rich~=14.0.0
requests~=2.32.3
keyboard~=0.13.5
cohere~=5.14.0
googlesearch-python
selenium~=4.30.0
mtranslate~=1.8
pygame~=2.6.1
edge-tts
PyQt5
webdriver-manager
user_agent

beautifulsoup4~=4.13.3